#desktop-nav {
    display: none;
    /* flex-direction: column;
    padding-top: 0.75rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-left: 100px; */
}

#yumrusekil {
    padding-left: 140px ;
    /* display: flex; 
    justify-content: center;
    align-items: center;
    height: 100px; */
}

/* #basliq1 {
    width: 500px;
    display: flex;
    justify-content: center;
} */

#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* #hamburger-nav {
    flex-direction: column;
} */